body, div, dl, dt, dd, ul, ol, nl, li, h1, h2, h3, h4, h5, h6, p, span, a, b, strong, object, iframe, label, img, select, form, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;   
}
ul,li,a{
	text-decoration:none;
	list-style:none;
	display:inline;
	font-size:12px;
}
#login-infor a:link,#login-infor a:visited{
	color:#c7c5c5;
}
#login-infor a:hover,#login-infor a:active{
	color:#FFF;
}

.shoplist-hesder .nav .nav-search-section{
	position: absolute;
	top: 7px;
	left: 582px;
	height: 36px;
	width: 180px;
	background: #fff;
	border-radius: 2px 0 0 2px;
}
.shoplist-hesder .filter-search input{
	margin-top:-50px;
	width:180px;
	height:35px;
}

#filter-cates a:link,#filter-cates a:visited{
	color:#333333;
}
#filter-cates a:hover,#filter-cates a:active{
	color:#de0600;
}